<div id="square0" class="square odd"></div>
<div id="square1" class="square even"></div>
<div id="square2" class="square odd"></div>
<div id="square3" class="square even"></div>
<div id="square4" class="square odd"></div>
<div id="square5" class="square even"></div>
<div id="square6" class="square odd"></div>
<div id="square7" class="square even"></div>

<div id="square8" class="square even"></div>
<div id="square9" class="square odd"></div>
<div id="square10" class="square even"></div>
<div id="square11" class="square odd"></div>
<div id="square12" class="square even"></div>
<div id="square13" class="square odd"></div>
<div id="square14" class="square even"></div>
<div id="square15" class="square odd"></div>

<div id="square16" class="square odd"></div>
<div id="square17" class="square even"></div>
<div id="square18" class="square odd"></div>
<div id="square19" class="square even"></div>
<div id="square20" class="square odd"></div>
<div id="square21" class="square even"></div>
<div id="square22" class="square odd"></div>
<div id="square23" class="square even"></div>

<div id="square24" class="square even"></div>
<div id="square25" class="square odd"></div>
<div id="square26" class="square even"></div>
<div id="square27" class="square odd"></div>
<div id="square28" class="square even"></div>
<div id="square29" class="square odd"></div>
<div id="square30" class="square even"></div>
<div id="square31" class="square odd"></div>

<div id="square32" class="square odd"></div>
<div id="square33" class="square even"></div>
<div id="square34" class="square odd"></div>
<div id="square35" class="square even"></div>
<div id="square36" class="square odd"></div>
<div id="square37" class="square even"></div>
<div id="square38" class="square odd"></div>
<div id="square39" class="square even"></div>

<div id="square40" class="square even"></div>
<div id="square41" class="square odd"></div>
<div id="square42" class="square even"></div>
<div id="square43" class="square odd"></div>
<div id="square44" class="square even"></div>
<div id="square45" class="square odd"></div>
<div id="square46" class="square even"></div>
<div id="square47" class="square odd"></div>

<div id="square48" class="square odd"></div>
<div id="square49" class="square even"></div>
<div id="square50" class="square odd"></div>
<div id="square51" class="square even"></div>
<div id="square52" class="square odd"></div>
<div id="square53" class="square even"></div>
<div id="square54" class="square odd"></div>
<div id="square55" class="square even"></div>

<div id="square56" class="square even"></div>
<div id="square57" class="square odd"></div>
<div id="square58" class="square even"></div>
<div id="square59" class="square odd"></div>
<div id="square60" class="square even"></div>
<div id="square61" class="square odd"></div>
<div id="square62" class="square even"></div>
<div id="square63" class="square odd"></div>
